@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');

html, body{
    height: 100%;
    background-color: #3d3d3d;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
    /*overflow: hidden;*/
}

#gameInfomation{
    height: 100%;
    width: 100%;
}

#gameImage{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    border: 2px solid pink;
}

#companyTitle{
    text-align: center;
    padding: 30px;
    width: 100%;
    position: absolute;
    top: -5%;
}

.title{
    text-decoration: none;
    color: white;
    font-size: 15rem;
    font-family: 'Roboto Slab', serif;
}

#letter1{
    background: url("https://images.unsplash.com/photo-1583248352195-d3a8e766edf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZmlyZXxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60") 50% 50%;
}
#letter2{
    background: url("https://images.unsplash.com/photo-1425913397330-cf8af2ff40a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Zm9yZXN0fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=500&q=60")50% 50%;
}
#letter3{
    background: url("https://images.unsplash.com/photo-1507281736509-c6289f1ea0f8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fHNub3d8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60")50% 50%;
}
#letter4{
    background: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3BhY2V8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60") 50% 50%;
}
#letter5{
    background: url("https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8d2F0ZXJ8ZW58MHwwfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60") 50% 50%;
}
#letter6{
    background: url("https://images.unsplash.com/photo-1517685352821-92cf88aee5a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fGNsb3Vkc3xlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60 ")50% 50%;
}

#letter1, #letter2, #letter3, #letter4, #letter5, #letter6{

    color: white;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px white;
}






