@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400&display=swap');

html, body{
    height: 100%;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 400;
    overflow: hidden;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}



#slider {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    width: 2000px;
    height: 100%;
   
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);

    filter: blur(12px);
    transform: scale(1.1); 
  }

  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  } 
  
  #slider ul li {
    position: relative;
    height: 100%;
    
    float: left;
  }

  #slider ul li img{
    width: 2000px;
    height: 100%;
  }


/*li, a, button{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    background-color: #33312e;
}

#navbar{
    list-style: none;
}

#navbar li{
    display: inline-block;
    padding: 0px 20px;
}


.navItem{   
    border: none;
    color: white;
    font-size: 4rem;
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    position: relative;
    z-index: 1;
    text-decoration: none;
    padding: 0px 20px;
}

.navItem:hover{
    cursor: pointer;
}

.navItem::before{
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #ee6c4d;
}

.navItem:hover::before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}*/

#holder{
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 3%;
}


#gameContent{
    color: white;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 300;
    z-index: 5;

}

#gameTitleHolder{
    background-color: #ee6c4d;
    font-size: 1rem;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:center ;
}

#companyTitle{
    font-size: 3.5rem;
    width: 80%;
}

#gameDesc{
    font-size: 2rem;
}

#buttons{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

#btn1Holder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 250px;
    height: 75px;
    background: #ee6c4d;
    transform: skew(18deg);
    font-weight: 400;
    font-size: 1.5rem;

    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #33312e;
    transition: ease-out 0.3s;
    outline: none;
}

#btn1Holder:hover{
    box-shadow: inset 250px 0 0 0 #33312e;
    cursor: pointer;
}

#btn1Text{
    transform: skew(-18deg);
}

#btn2Holder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 250px;
    height: 75px;
    background: #33312e;
    transform: skew(18deg);
    font-weight: 400;
    font-size: 1.5rem;

    border-radius: 2px;
    box-shadow: inset 0 0 0 0 #ee6c4d;
    transition: ease-out 0.3s;
    outline: none;
}

#btn2Holder:hover{
    box-shadow: inset 250px 0 0 0 #ee6c4d;
    cursor: pointer;
}

#btn2Text{
    transform: skew(-18deg);
}
